#Con esto evitamos que se listen los subdirectorios
Options -Indexes

RewriteEngine On

RewriteCond %{HTTP_HOST} ^demo\.unova\.co$ [NC]
RewriteRule ^(.*)$ http://demo.unova.mx/$1 [L,R=301]

RewriteBase /

RewriteRule ^curso/([a-zA-Z0-9_.]+)/([0-9]+)$ clases.php?a=tomarClase&curso=$1&clase=$2 [L]
RewriteRule ^curso/([a-zA-Z0-9_.]+)/([0-9]+)/$ clases.php?a=tomarClase&curso=$1&clase=$2 [L]

RewriteRule ^curso/([a-zA-Z0-9_.]+)$ cursos.php?a=detalles&i=$1 [L]
RewriteRule ^curso/([a-zA-Z0-9_.]+)/$ cursos.php?a=detalles&i=$1 [L]

RewriteRule ^curso/([a-zA-Z0-9_.]+)&(.+)$ cursos.php?a=detalles&i=$1&$2 [L]
RewriteRule ^curso/([a-zA-Z0-9_.]+)/&(.+)$ cursos.php?a=detalles&i=$1&$2 [L]

RewriteRule ^usuario/([a-zA-Z0-9_.]+)$ usuarios.php?a=detalles&i=$1 [L]
RewriteRule ^usuario/([a-zA-Z0-9_.]+)/$ usuarios.php?a=detalles&i=$1 [L]

RewriteRule ^usuario/([a-zA-Z0-9_.]+)&(.+)$ usuarios.php?a=detalles&i=$1&$2 [L]
RewriteRule ^usuario/([a-zA-Z0-9_.]+)/&(.+)$ usuarios.php?a=detalles&i=$1&$2 [L]



RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)/([a-zA-Z]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)$ $1.php?c=$2&a=$3&i=$4&j=$5 [L]
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)/([a-zA-Z]+)/([a-zA-Z0-9]+)$ $1.php?c=$2&a=$3&i=$4 [L]
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)/([a-zA-Z]+)$ $1.php?c=$2&a=$3 [L]
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)$ $1.php?c=$2 [L]
RewriteRule ^([a-zA-Z]+)$ $1.php [L]

RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)/([a-zA-Z]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)&(.+)$ $1.php?c=$2&a=$3&i=$4&j=$5&$6 [L]
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)/([a-zA-Z]+)/([a-zA-Z0-9]+)&(.+)$ $1.php?c=$2&a=$3&i=$4&$5 [L]
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)/([a-zA-Z]+)&(.+)$ $1.php?c=$2&a=$3&$4 [L]
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)&(.+)$ $1.php?c=$2&$3 [L]
RewriteRule ^([a-zA-Z]+)&(.+)$ $1.php?$2 [L]