#uploadForm{    
    margin: 0 auto;
    text-align: center;
}
#uploadZone{
    color: #038081;
    background-color: white;
    border:solid;
    border-style: double; 
    border-color: #3a87ad;
    text-align: center;
    padding: 25px;
}

.delete input{
    display:none;
}
.delete button{
    display:none;
}

.table{
    border: solid;
    border-style: solid;
    border-color: #3a87ad;
}