.comentarioNombreUsuario{
    font-size: 14px;
    font-weight: bold;
}
.comentarioNombreUsuario:hover{
    text-decoration: underline;
}
.comentarioTiempo{
    font-weight: bold;
}
.comentarioTitulo{
    color: #08c;
    font-size: 16px;
    font-weight: bolder;
}
.comentarioVotacion{
    cursor: pointer;
}
.btnBorrarComentario:hover{
    border-style: solid;
    border-width: 1px;    
}
