.discusion:hover{
    cursor: pointer;
    text-decoration: underline;    
}
.discusionNombreUsuario{
    font-size: 14px;
    font-weight: bold;
}
.discusionTiempo{
    font-weight: bold;
}
.discusionTitulo{
    color: #08c;
    font-size: 16px;
    font-weight: bolder;
}
.discusionVotacion{
    cursor: pointer;
}
.btnBorrarDiscusion:hover{
    border-style: solid;
    border-width: 1px;    
}
