.cursoRating{
    margin-top: 10px!important;
}
.temaHeader{
    margin: 0px!important;
    padding: 0px!important;
}
.temaNombre{    
    font-size: 1.2em;
    margin-top: 10px;
    padding-left: 10px;
    font-weight: bolder;
    word-wrap: break-word;
}
.connectedSortable { 
    margin: 0px;
    background: #eee;
    padding-bottom: 10px;
    min-height: 20px;
    padding-top: 2px;
    margin-bottom: 0px;
}
.connectedSortable li{ 
    padding: 5px;
    margin-bottom: 5px;
}
.temaNombreLinks {
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;
}
.temaNombreLinks a:hover{
    text-decoration: underline;
}
.temaNombreIcon{
    padding-left: 5px;
}
.agregarTemaBoton:hover{
    opacity:1;
    -webkit-box-shadow:rgba(99, 89, 89, 0.117647) 18px 1px 2px 29px inset;
    -moz-box-shadow:rgba(99, 89, 89, 0.117647) 18px 1px 2px 29px inset;
}
.nombreClase{
    font-size: 15px!important;
    font-weight: bolder!important;
    padding-right: 10px;
}
.nombreClase:hover{
    text-decoration: underline!important;
}
.nombreClaseContainer{
    padding-top: 7px;
    word-wrap: break-word;
    margin-left: 0px!important;
}
.claseLinksContainer{
    padding-top: 7px;
}
.claseLinks:hover{
    text-decoration: underline!important;
}
#descripcionContent{
    word-wrap: break-word;
}
.deleteTema:hover{
    cursor: pointer;
}
.deleteClase:hover{
    cursor: pointer;
}
