body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    background-color: #E6E6DA;
    margin: 0px;
    padding: 0px;
    border: 0px none;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
div{
    display:block;
}
.left {
    float: left;
    display: block;
}
.right {
    float: right;
    display: block;
}
.centerText{    
    text-align: center;
}

#e_bar {
    color: white;
    background: #333 url('images/headerbg.png') 50% 50% repeat-x;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    height: 50px;
    box-shadow: rgba(31, 31, 31, 0.816406) 0px 0px 15px 3px;
    -webkit-box-shadow: rgba(31, 31, 31, 0.816406) 0px 0px 15px 3px;
    -moz-box-shadow: rgba(31, 31, 31, 0.816406) 0px;
}
#top-bar{
    margin: auto;
    width: 940px;
    color: #333;
}

#top-bar a:hover{
    text-decoration: underline;

}
#top-bar .logo {
    width: 135px;
    padding-right: 100px;
}
#top-bar .element {
    width: 150px;
}
#top-bar .element .link {
    line-height: 47px;
    color: white;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
}

.littleBox{
    margin: 2px;
    position: relative;
    padding: 4px 0;
    float: left;
}

#mediaPopcorn{
    display:block;
    width: 100%;
    height: 100%;
}

.imagenes{
    width:100%;
    height:100%;
    border: none;
}

#footer{
    position: fixed;
    bottom:0%;
    width: 100%;
}
#ShowHideControles{
    z-index:99;
    overflow: hidden;
}
#controlesContainer{
    width:100%;	
    min-height: 55px;
    z-index:99;
}

#sliderContainer{
    width:93%;    
    position: absolute;
    right: 1%;
}
#slider{	
    margin: 5px auto;
}
#controles{
    float: left;
    width: 5%;
    padding:10px 0px 0px 5px;
}
#controlTiempo{
    color: white;
    margin: 5px auto;
    text-align: right;
}

.elementButtons{
    float: right;
    display: block;
    position: absolute;
    top: 0%;
    right:0%;    
    z-index: 9;
}

.draggable{
    cursor:move;
}

.dragHandle{
    cursor:move;
    font-size: 1.5em;
    float: left;
    display: block;
    position: relative;
    top: 0%;
    left:0%;    
    z-index: 9;
    margin: 0;
    padding: 0;
}

.textoAgregado{
    width:auto; 
    height:auto; 
    display:block;
    padding: 3px;
}

.imagenAgregada{
    width: auto;
    height: auto;
    display:block;
    float:left;
    padding: 3px;
    text-wrap: normal;
}

.videoAgregado{
    width:560px;
    height:315px;
    display:block;
    float:left;
    position:relative;
}

.paginaAgregada{
    width:960px;
    height:400px;
    background: #00C;
    border:4px solid #000;
    float:left;
    position:relative;
}

.colorButton{
    width:160px;
    height:30px;
    background:#ffffff;
    border:1px solid black;
    line-height:30px;
    text-align:center;
    overflow: visible;
    float: left;
}

#colorSelector{
    height: auto;
    text-align:center;
}

.textoLink div{
    text-align:center;
    font-size: 24px;
    margin: 15px;
}
.textoLink{

}
.textoLink:hover{
    text-decoration: underline;

}

.videoPopcorn object{
    width: 100%;
    height: 100%;
}

.error,
.notice,
.success,
.info {  }

.error {color: #8a1f11;  }
.success       { color: #264409; }

#editorContainment{
    width: 100%;
    display: block;
    position: fixed;
    top: 50px;
    bottom: 0%;
}

#videoContainer .ui-icon{
    background-image: url(../../lib/js/jquery-ui/ui-lightness/images/ui-icons_ffffff_256x240.png);
}

.flechaArriba {
    display: block;
    width: 13px;
    height: 13px;
    background: url('../imagenes/up.png') no-repeat;
    margin-left: 6px;
    margin-top: 17px;
}

.flechaAbajo {
    display: block;
    width: 13px;
    height: 13px;
    background: url('../imagenes/down.png') no-repeat;
    margin-left: 6px;
    margin-top: 16px;
}

#menu {
    display: none;
    text-align: left;
    position: relative;
    right: 55px;
    top: 12px;
    background-color: white;
    color: black;
    min-width: 150px;
    z-index: 100;
    border: solid #333;
    margin-top: 47px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    box-shadow: rgba(31, 31, 31, 0.816406) 0px 0px 15px 3px;
    -webkit-box-shadow: rgba(31, 31, 31, 0.816406) 0px 0px 15px 3px;
    -moz-box-shadow: rgba(31, 31, 31, 0.816406) 0px;
}
#flechitaMenu {
    background-image: url(../imagenes/flechita.png);
    background-repeat: no-repeat;
    background-size: auto;
    height: 11px;
    position: absolute;
    top: -11px;
    width: 20px;
    left: 68px;
}
#menuElement{
    overflow: hidden;
    padding: 5px 5px 5px 5px;
}
#menu a {
    float: left;
    color: #006187;
    font-weight: bolder;
    font-size: 14px;
    width: 100%;
    padding: 10px 0px 10px 10px;
}
#menu a:hover{
    background-color: #006187;
    color:white;    
    font-weight: 100;
    font-size: 14px;
    font-weight: bolder;
    text-decoration: none;
}
#menuLinks{
    overflow-y: auto;
    overflow-x: hidden;
    cursor: pointer;
}


#menuAgregar {
    display: none;
    text-align: left;
    position: relative;
    right: 55px;
    top: 12px;
    background-color: white;
    color: black;
    min-width: 150px;
    z-index: 100;
    border: solid #333;
    margin-top: 47px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    box-shadow: rgba(31, 31, 31, 0.816406) 0px 0px 15px 3px;
    -webkit-box-shadow: rgba(31, 31, 31, 0.816406) 0px 0px 15px 3px;
    -moz-box-shadow: rgba(31, 31, 31, 0.816406) 0px;
}
#flechitaMenuAgregar {
    background-image: url(../imagenes/flechita.png);
    background-repeat: no-repeat;
    background-size: auto;
    height: 11px;
    position: absolute;
    top: -11px;
    width: 20px;
    left: 68px;
}
#menuAgregarElement{
    overflow: hidden;
    padding: 5px 5px 5px 5px;
}
#menuAgregar a {
    float: left;
    color: #006187;
    font-weight: bolder;
    font-size: 14px;
    width: 100%;
    padding: 10px 0px 10px 10px;
}
#menuAgregar a:hover{
    background-color: #006187;
    color:white;    
    font-weight: 100;
    font-size: 14px;
    font-weight: bolder;
    text-decoration: none;
}
#menuAgregarLinks{
    overflow-y: auto;
    overflow-x: hidden;
    cursor: pointer;
}

#btnCambiarColor{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #233E6A;
}

#slider .ui-widget-header{
    background: rgb(59,104,255);
}