#cursoHeader_img{
    padding: 0px 30px 5px 0px;
}
#cursoHeader_info{

}
#cursoHeader_info_titulo h1{    
    padding-top: 0px;
}
#cursoHeader_right{
    text-align:center;
}
.cursoRating{
    margin-top: 10px!important;
}
#cursoTabs{
    border: 1px solid #aaaaaa;
}
.temaHeader{
    margin: 0px!important;
    padding: 0px!important;
}
.temaNombre{    
    font-size: 1.2em;
    margin-top: 10px;
    padding-left: 10px;
    font-weight: bolder;
    word-wrap: break-word;
}
.connectedSortable { 
    margin: 0px;
    background: #eee;
    padding-bottom: 10px;
    min-height: 20px;
    padding-top: 2px;
    margin-bottom: 0px;
}
.connectedSortable li{ 
    padding: 5px;
    margin-bottom: 5px;
}
.temaNombreLinks {
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;
}
.temaNombreLinks a:hover{
    text-decoration: underline;
}
.temaNombreIcon{
    padding-left: 5px;
}
.agregarTemaBoton:hover{
    opacity:1;
    -webkit-box-shadow:rgba(99, 89, 89, 0.117647) 18px 1px 2px 29px inset;
    -moz-box-shadow:rgba(99, 89, 89, 0.117647) 18px 1px 2px 29px inset;
}
.nombreClase{
    font-size: 15px!important;
    font-weight: bolder!important;
    padding-right: 10px;
}
.nombreClase:hover{
    text-decoration: underline!important;
}
.nombreClaseContainer{
    padding-top: 7px;
    word-wrap: break-word;
    margin-left: 0px!important;
}
.claseLinksContainer{
    padding-top: 7px;
}
.claseLinks:hover{
    text-decoration: underline!important;
}
#descripcionContent{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    width: 90%;
    word-wrap: break-word;
}
#descripcion ul li{
    list-style-position:outside;
    list-style-type:disc;
    list-style-image:initial;
}
#descripcion ol li{
    list-style-position:outside;
    list-style-type:decimal;
    list-style-image:initial;
}
