.left{ 
    float:left; 
    display: block;
}
.right{ 
    float: right;   
    display: block; 
}
.center{    
    margin: 0 auto; 
    display: block; 
}
.centerText{    
    text-align: center;
}

.flechaArriba{
    display:block;
    width: 13px;
    height: 13px;
    background: url('../imagenes/up.png') no-repeat;
    margin-left: 6px;
    margin-top: 17px;
}
.flechaAbajo{
    display:block;
    width: 13px;
    height: 13px;
    background: url('../imagenes/down.png') no-repeat; 
    margin-left: 6px;
    margin-top: 16px;
}