.cursoContainer:hover{
    border-color: #08C;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.thumbnail{
    background-color: white;
}

.descripcion{
    height:80px;
    overflow: auto;    
    word-wrap:break-word;
    text-align: left;
}

.tituloCurso:hover{
    text-decoration: none;
}

.tituloCurso:hover h3{
    text-decoration: underline;
}