/* Estilos generales */
li{list-style:none;}
html
{
    height:100%;
}
body{   
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;    
    font-size: 12px;  
    background-image: url("/layout/css/images/bg.jpg");
    background-position: center;
    background-repeat: repeat;
    background-color: #dedde3;
    padding-top: 60px;
    padding-bottom: 50px;
    position:relative;
    min-height: 100%;
}
.centerText{    
    text-align: center;
}
h1, h2, h3, h4, h5, h6
{
    color:#dc5f21 !important;
}
#sessionMessage{
    border-radius: 4px; 
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding-top: 2px;
}
.black{
    color: #333!important;
}
.margin-top20{
    margin-top:20px;
}
.margin-top10{
    margin-top:10px;
}
.hoverBlueBorder:hover{
    border-color: #08C;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
#pushfooter {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 200px;
}

footer{    
    margin-left: -20px;
    background: url("images/footer_bg.jpg") 0 0 repeat;
    color: #fff;
    height: 100%;
}
footer .copyright .copy p {
    margin-top: 20px;
    text-align: center;
}

.break-words{
    word-wrap:break-word;
}