.littleBox{
    margin: 2px;
    position: relative;
    padding: 4px 0;
    float: left;
}
.videoClass{
    z-index: 1;
}
#mediaPopcorn{
    display:block;
    width: 100%;
    height: 100%;
}
.imagenes{
    width:100%;
    height:100%;
    border: none;
}
.videoPopcorn object{
    width: 100%;
    height: 100%;
}
.textoLink div{
    text-align:center;
    font-size: 24px;
    margin: 15px;
}
.textoLink{

}
.textoLink:hover{
    text-decoration: underline;

}
#editorContainment{
    z-index: -20;
    width: 100%;
    display: block;
    position: fixed;
    top: 42px;
    bottom: 0%;
}
.draggable{
    cursor:move;
    z-index: 99;
}
.dragHandle {
    cursor: move;
    font-size: 1.5em;
    float: left;
    display: block;
    position: relative;
    top: 0%;
    left: 0%;
    z-index: 9;
    margin: 0;
    padding: 0;
    background-color: rgb(42, 128, 145);
}

.inputRadio{
    opacity: 0;
    width: 18px;
    background: url("images/radio-off.png");
}

.inputRadio + label{
    width: 18px;
    height: 18px;
    margin: 0;
    clear: none;
    cursor: pointer;
    background: url("images/radio-off.png") left center no-repeat;
    position: relative;
    top: -10px;
    left: 25px;
}

.inputRadio:checked + label{
    background-image: url("images/radio-on.png");
}

.respuestaContainer + button{
    width: 100px!important;
}

.respuestaContainer:hover + button{

}

.inputTextGenerado{
    width:auto!important;
    margin-right: 5px!important;
    margin-left: 5px!important;
}