.temaContainer{
    text-indent: 15px;
    border-radius: 7px;    
    text-transform: capitalize;
    font-size: 15px;
    border-bottom: 1px solid #c9c9c9;
    margin: 0px;
    background: #ffffff;
    background: -moz-linear-gradient(#ffffff,#e0e0e0);
    background: -webkit-linear-gradient(#ffffff,#e0e0e0);
    background: -o-linear-gradient(#ffffff,#e0e0e0);
    background: -ms-linear-gradient(#ffffff,#e0e0e0);
    background: linear-gradient(#ffffff,#e0e0e0);
    border-radius: 4px 4px 0 0;
}

.claseText{
    
}